.center {
	margin-left: auto;
	margin-right: auto;
}

body {
	text-align: center;
}

#result {
	text-align: left;
}

#logo {
	width: 327px;
	height: 265px;
	border: none;
}

#advtable {
	border: solid 1 px black;
}

#results {
    float:left;
    padding-left:300px;
}

#sidebar {
    float:right;
}
